html{
    width: 100%;
    height: 100%;
}

.row > *{
    padding-left: 0% ;
    padding-right: 0% ;
}

body{
    background-image: linear-gradient(to right, #da7b93, #2e151b);
}

.card{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5)!important
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.ignore-left-border{
    border: 1px solid #391c23;
    border-radius: 0px;
    border-left: 1px solid #391c23;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; 
    background-color: #c1c8e4;
    /* background-color: rgb(90, 90, 90); */
}

.ignore-right-border{
    border: 1px solid #391c23;
    border-radius: 0px;
    border-right: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #1b3333;
    /* background-image: linear-gradient(180deg, rgb(32 210 110), rgb(103 103 103), rgb(0 0 0), rgb(0 0 0), rgb(0 0 0)); */
}

.card-img-top{
    max-width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #162929;
}

.shadow{
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, 0.4)!important;
}

.card-title{
    color: white;
    font-family: 'Tajawal', sans-serif;
    /* font-size: 200%; */
    font-weight: 500;
}

.btn:hover{
    color: rgb(75, 74, 74);
}

.icon{
    font-size: 150%;
    color: #fffff5;
}

.stats{
    text-align: center;
    padding: 15% 0;
}

.middle{
    border-top: 3px solid #391c23;
    border-bottom: 3px solid #391c23;
}

.padding0{
    padding: 0;
}

.stats > p{
    font-family: 'Josefin Slab', serif;
    font-weight: 900 !important;
    font-size: 25px !important;
    padding: 0;
    margin: 0;
}
